body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {;
    padding: 10px;
    text-align: center;
  }

  nav a {
    color:black;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
  }
  .nav-link:hover{
color: red;
  }
  #username{
    font-size: 30px;
    margin-bottom: 30px;
    color:black;

}
#lname{
    color: red;
    font-size: 20px;

}
.custom-btn1 {
 
  margin-top: 35%;
  border-radius: 20px;

}
#sub{
    color: red;
    font-size:15px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }

  /* Hover effect */
  .btn-primary:hover {
    background-color: #b37d00; 
  }
header {
    background-image: url('./bg.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: px 0;
    height: 100VH;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s
  }
  .flex-containers {
    
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 2px;
    gap: 50px;
    margin-left: 2%;
  
  }
  .flex-items{
    width: 200px;
    height: 250px;
    border: 2px solid;
    margin: 25px;
    border-radius: 35px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    padding: 10px 8px;
    background-color: pink;

  }
  .flex-items:hover{
    transform: scale(1.2);
    z-index: 2;
}

  .round-image {
    width: 150px; /* Set the desired width */
    height:150px; /* Set the desired height */
    border-radius: 70%; /* Make the image round */
    object-fit: cover;
     margin-left: 10px;/* Ensure the image covers the entire container */
  }
  .card:hover {
    transform: scale(1.05);
  }
  #myCarousel {
    margin-top: 20px;

  }
  
  /* Carousel captions */
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  /* Control arrows */
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #333; /* Arrow color */
    border-radius: 50%;
    padding: 10px;
  }
  .carousel {
   width: 100%;
  }

  .video-section {
    text-align: center;
    padding: 50px 0;
  }
  .card {
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }
  
  .flex-item{
    width: 250px;
    height: 250px;
    border: 2px solid;
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    padding: 10px 8px;
}
.flex-item:hover{
    transform: scale(1.2);
    z-index: 2;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-bottom: 4%;
    padding: 2px;

}
.review-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.review-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.rating {
  font-size: 24px;
  color: gold;
}
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap:0px;
  }

  footer {
    background-color:darkslateblue;
    color: white;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .f-img{
    border-radius: 30px;
    height: 180px;

  }
  .credits {
  
    background-color:darkslateblue;
    color: white;
  }